div(ng-init="setState('contact')")
	div#cont
		.col-md-12
			.center-block.fullW

				h1 Contact us!
				br
				br
				h3 Have any questions, need any help? 

				h3 Want to report some bugs?
				br
				h3
					| Send us an email at 
				h2	mysearch.montybits
					i(class="fa fa-at")
					| gmail.com