div(ng-init="setState('edit')")
	div#cont

			h2 Edit Info

			form()
					div(class="col-md-8 editLabels")
						h3 
							i(class="fa fa-male") 
							&nbsp;Change Personal Settings
							p.infoSub(style='margin-top:0px!important') *These are not required
						

						h3(class='palette2') Change Name :
						input.form-control(type='text',name="name", placeholder='{{user.name}}',ng-model='edit.name')

						h3(class='palette2') Change Surname :
						input.form-control(type='text',name="surname", placeholder='{{user.surname}}',ng-model='edit.surname')

						h3(class='palette2') Change Age :
						input.form-control(type='text',name="age", placeholder='{{user.age}}',ng-model='edit.age')


						

					div(class="col-md-8 editLabels")
						h3 
							i(class="fa fa-sign-in") 
							&nbsp;Change Account Settings

						h3(class='palette2') Change Username :
						div.input-group
							span(class="input-group-addon")
								i(class="fa fa-user fa-fw")
							input(class="form-control" type="text" name="username" placeholder="{{user.username}}" ng-model="edit.username")

						h3(class='palette2') Change email :
						div.input-group
							span(class="input-group-addon")
								i(class="fa fa-envelope fa-fw")
							input(class="form-control" type="text" name="email" placeholder="{{user.email}}" ng-model="edit.email")
						
						h3(class='palette2') Change Password :
						div.input-group
							span(class="input-group-addon")
								i(class="fa fa-key fa-fw")
							input(class="form-control" type="password" name="password" placeholder="" ng-model="edit.password")
						
							
						h4(class='palette2') Confirm Password :
						div.input-group
							span(class="input-group-addon")
								i(class="fa fa-key fa-fw")
							input(class="form-control" type="password" name="password" placeholder="" ng-model="edit.passwordRep")
						
						br
						input.btn.btn-default.btn-lg(ng-click='editInfo()' value='Update my info' type='submit' style='width:200px')


