body {
	height:100%;
	width:100%;
	background-image : url("/img/bg.jpg");
	background-size: 100% auto;
	color:#fff!important;
	font-family: 'Open Sans Condensed', sans-serif, Arial;
}

#content{
	background-color: rgba(0,0,0,0.4);
	padding: 20px 40px;
	margin:0 auto;


}

#signupModal{
	display:none;
	height:auto;
	width:500px;
	left:50%;
	position:absolute;
	top:20%;
	margin-left:-250px;
	background:rgba(0,0,0,0.7);
	color: #fff;
	border-radius:10px;
	
}

#close {
	position:absolute;
	top:0px;
	right:10px;
	color:#000;
}

#open{
	color:#000;
	margin-top:50px;
}

#nav-left{
	float:left;

}

#signupModal{
	padding: 0 20px 20px 20px;
}

.btn-group-lg>.btn, .btn-lg {
	margin-top:10px;
}

h1{
	font-family:Helvetica, sans-serif!important;
}

#nav-left img{
	width:300px;
}


#loginScreen {
	
	background:transparent;
	/*background-image : url("/img/liBack.jpg");
    background-repeat: repeat-x;
*/
} 

#signupScreen {
		background:transparent;

	/*
	background-image : url("/img/suBack.jpg");
    background-repeat: no-repeat;	
	*/
} 