body {
	height:100%;
	width:100%;
	background-image : url("/img/bg.jpg");
	background-size: 100% auto;
	color:#fff;
}

#content{
	background-color: rgba(0,0,0,0.4);
	padding: 20px 40px;
	margin:0 auto;


}



#loginScreen {
	
	background:transparent;
	/*background-image : url("/img/liBack.jpg");
    background-repeat: repeat-x;
*/
} 

#signupScreen {
		background:transparent;

	/*
	background-image : url("/img/suBack.jpg");
    background-repeat: no-repeat;	
	*/
} 