div(id="editInfo")
	form(ng-model='')
		h3(class='palette3') Change Username :
		input.form-control(type='text',name="username", placeholder='{{user.username}}',ng-model='edit.username')

		h3(class='palette3') Change Name :
		input.form-control(type='text',name="name", placeholder='{{user.name}}',ng-model='edit.name')

		h3(class='palette3') Change Surname :
		input.form-control(type='text',name="surname", placeholder='{{user.surname}}',ng-model='edit.surname')

		h3(class='palette3') Change email :
		input.form-control(type='text',name="email", placeholder='{{user.email}}',ng-model='edit.email')

		h3(class='palette3') Change Password :
		input.form-control(type='text',name="password", placeholder='',ng-model='edit.password')

		h3(class='palette3') Change Age :
		input.form-control(type='text',name="age", placeholder='{{user.age}}',ng-model='edit.age')

		input.btn.btn-default.btn-lg(ng-click='editInfo()' value='Update my info' type='submit')