div(ng-controller="homeCtrl" id="content")

	div(class="jumbotron",id="loginScreen")
		navbar-wrapper
			nav.navbar
				.container-fluid
					.navbar-header
						h1 mySearch
						button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					.navbar-collapse.collapse
						#nav-left
							img(src="/img/phone.png")

						ul.nav.navbar-nav.navbar-right
							
							label Username/Email
							input.form-control(type='text', name='username',ng-model='usernameLog')
						
							label Password
							input.form-control(type='password', name='password',ng-model='passwordLog')
						
							button.btn.btn-default.btn-lg(ng-click='login()' type='submit') Login
			div(ng-show="!registerBool")
				button.btn.alert.btn-sm(ng-click='register()', name="register" type='submit') Don't have an account?	
	div(id = "signupScreen", ng-show="registerBool")
		div(class="page-header")
			h4 SignUp to mySearch
		.container
			h2 Horizontal form
			form.form-horizontal(name='inputForm')
				.form-group
					label.control-label.col-sm-2 Email(*):
					.col-sm-10
						input.form-control(type='email', name="email" ,placeholder='Enter email',ng-model="email", required)
						div
							.error(ng-show='inputForm.email.$error.required')
								small.error
								| Your email is required.
				.form-group
					label.control-label.col-sm-2 Username(*):
					.col-sm-10
						input.form-control(type='text',name="username", placeholder='Enter Username',ng-model="username",required)
						div
							.error(ng-show='inputForm.username.$error.required')
								small.error
								| Your username Is required
				.form-group
					label.control-label.col-sm-2 Password(*):
					.col-sm-10
						input.form-control(type='password',name="password", placeholder='Enter Password',ng-model="password",required)
						.error(ng-show='inputForm.password.$error.required')
								small.error
								| Your password is required
				.form-group
					label.control-label.col-sm-2 Repeat Password(*):
					.col-sm-10
						input.form-control(type='password',name="passwordRep", placeholder='Please Repeat Password',ng-model="passwordRep",required)			
						.error(ng-show='inputForm.passwordRep.$error.required')
								small.error
								| You are required to validate password
				.form-group
					label.control-label.col-sm-2 Name:
					.col-sm-10
						input.form-control(type='text', placeholder='Enter Username',ng-model="name")
				.form-group
					label.control-label.col-sm-2 Surname:
					.col-sm-10
						input.form-control(type='text', placeholder='Enter Username',ng-model="surname")
				.form-group
					.col-sm-10		
						button.btn.btn-default.btn-lg(ng-if="!inputForm.email.$error.required && !inputForm.username.$error.required && !inputForm.password.$error.required && !inputForm.passwordRep.$error.required", ng-click='signup()') Signup
								