div()
	col-sm-6.col-sm-offset-3
		form
			.form-group
				h3 Email : {{user.email}}
			.form-group
				h3 Username : {{user.username}}
			.form-group
				h3 Name : {{user.name}}
			.form-group
				h3 Surname : {{user.surname}}
			.form-group
				h3 Age : {{user.age}}