//////////////////////////////////////////////////////
////////Author : siderisng,chocof		//////////////////////
/////// File   : views/menu.js ///////////////////////
//////////////////////////////////////////////////////



div(ng-controller="userCtrl",class="jumbotron", ng-init="__init__()")
	.navbar-wrapper
		nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
			.container-fluid
				.navbar-header
					h1 mySearch
					button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li
							br
							br
							a(ui-sref="userProf") myProfile
						li
							br
							br
							a(ui-sref="editInfo") Edit myInfo 
						li
							br
							br
							a(ui-sref="userStats") myStatistics
						li
							br
							br
							a(ui-sref="userGraphs") myGraphs
						li
							br
							br
							a(ng-click="logout()" href='#')
								span.glyphicon.glyphicon-log-out Logout
	div 
		col-sm-6.col-sm-offset-3
			// Edit form
			h2(class='pinfo') Personal Info
			form
				.form-group
					h3 Email : {{user.email}}
				.form-group
					h3 Username : {{user.username}}
				.form-group
					h3 Name : {{user.name}}
				.form-group
					h3 Surname : {{user.surname}}
				.form-group
					h3 Age : {{user.age}}
