//////////////////////////////////////////////////////
////////Author : chocof		//////////////////////
/////// File   : views/menu.js ///////////////////////
//////////////////////////////////////////////////////



div(class="jumbotron",ng-controller='userCtrl',ng-init="__init__()")

	.navbar-wrapper
		nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
			.container-fluid
				.navbar-header
					h1 mySearch
					button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li
							br
							br
							a(ui-sref="menu.info()") myProfile
						li
							br
							br
							a(ui-sref="menu.edit()") Edit myInfo 
						li
							br
							br
							a(ui-sref="userStats") myStatistics
						li
							br
							br
							a(ui-sref="userGraphs") myGraphs
						li
							br
							br
							button.btn.btn-inverse.navbar-btn(ng-click="logout()")
								span.glyphicon.glyphicon-log-out Logout
	div(ui-view='')