div(ng-init = "gatherData()")
	h4 Cities you have been to so far : 
	table(style="width:100%", ng-repeat="city in cities")
		tr
			td {{city}}
	h4 Pie Chart
	div(id="pieChart")		

	h4 Days of use graph
	div(id="dateGraph")